## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
#!pip install gmaps

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,54.01,54,49,12.66,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,46.06,93,89,8.52,light rain
2,2,Mercedes,AR,-34.6515,-59.4307,59.04,63,48,4.38,scattered clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,81.73,75,99,13.47,overcast clouds
4,4,Hermanus,ZA,-34.4187,19.2345,55.80,53,1,8.90,clear sky
5,5,Esperance,AU,-33.8667,121.9000,50.50,73,47,6.13,scattered clouds
6,6,Puerto Escondido,MX,15.8500,-97.0667,84.58,72,46,5.37,scattered clouds
7,7,Ushuaia,AR,-54.8000,-68.3000,40.66,81,20,4.61,few clouds
8,8,Port Blair,IN,11.6667,92.7500,80.89,83,98,7.20,light rain
9,9,Praia Da Vitoria,PT,38.7333,-27.0667,73.65,88,40,3.85,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("How much cold is too cold? Minimim temperature you want to experience? "))
max_temp = float(input("How much hot is too hot? Maximum temperature you want to experience? "))

How much cold is too cold? Minimim temperature you want to experience? 30
How much hot is too hot? Maximum temperature you want to experience? 50

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
sought_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
sought_city_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mataura,NZ,-46.1927,168.8643,46.06,93,89,8.52,light rain
7,7,Ushuaia,AR,-54.8000,-68.3000,40.66,81,20,4.61,few clouds
10,10,Tasiilaq,GL,65.6145,-37.6368,39.36,72,61,7.38,broken clouds
26,26,Leningradskiy,RU,69.3833,178.4167,43.90,76,63,12.93,broken clouds
30,30,Busselton,AU,-33.6500,115.3333,49.26,75,99,11.72,overcast clouds
35,35,Longyearbyen,SJ,78.2186,15.6401,35.44,87,20,2.30,few clouds
40,40,Bluff,NZ,-46.6000,168.3333,47.50,73,84,28.45,broken clouds
50,50,Khatanga,RU,71.9667,102.5000,40.42,79,95,7.31,overcast clouds
57,57,Tinskoy,RU,56.1525,96.9161,49.75,78,100,9.28,overcast clouds
72,72,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,75,25.32,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
sought_city_df.count()

City_ID                81
City                   81
Country                81
Lat                    81
Lng                    81
Max Temp               81
Humidity               81
Cloudiness             81
Wind Speed             81
Current Description    81
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_trip_cities = sought_city_df.dropna()
clean_trip_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mataura,NZ,-46.1927,168.8643,46.06,93,89,8.52,light rain
7,7,Ushuaia,AR,-54.8000,-68.3000,40.66,81,20,4.61,few clouds
10,10,Tasiilaq,GL,65.6145,-37.6368,39.36,72,61,7.38,broken clouds
26,26,Leningradskiy,RU,69.3833,178.4167,43.90,76,63,12.93,broken clouds
30,30,Busselton,AU,-33.6500,115.3333,49.26,75,99,11.72,overcast clouds
35,35,Longyearbyen,SJ,78.2186,15.6401,35.44,87,20,2.30,few clouds
40,40,Bluff,NZ,-46.6000,168.3333,47.50,73,84,28.45,broken clouds
50,50,Khatanga,RU,71.9667,102.5000,40.42,79,95,7.31,overcast clouds
57,57,Tinskoy,RU,56.1525,96.9161,49.75,78,100,9.28,overcast clouds
72,72,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,75,25.32,broken clouds

In [8]:
clean_trip_cities.count()

City_ID                81
City                   81
Country                81
Lat                    81
Lng                    81
Max Temp               81
Humidity               81
Cloudiness             81
Wind Speed             81
Current Description    81
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_trip_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mataura,NZ,46.06,light rain,-46.1927,168.8643,
7,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,
10,Tasiilaq,GL,39.36,broken clouds,65.6145,-37.6368,
26,Leningradskiy,RU,43.90,broken clouds,69.3833,178.4167,
30,Busselton,AU,49.26,overcast clouds,-33.6500,115.3333,
35,Longyearbyen,SJ,35.44,few clouds,78.2186,15.6401,
40,Bluff,NZ,47.50,broken clouds,-46.6000,168.3333,
50,Khatanga,RU,40.42,overcast clouds,71.9667,102.5000,
57,Tinskoy,RU,49.75,overcast clouds,56.1525,96.9161,
72,Punta Arenas,CL,44.71,broken clouds,-53.1500,-70.9167,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get latitude and longitude from df
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [11]:
# Check results
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mataura,NZ,46.06,light rain,-46.1927,168.8643,Ellie's Villa
7,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,Albatross Hotel
10,Tasiilaq,GL,39.36,broken clouds,65.6145,-37.6368,The Red House
26,Leningradskiy,RU,43.90,broken clouds,69.3833,178.4167,Gostinitsa
30,Busselton,AU,49.26,overcast clouds,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
652,Tuatapere,NZ,46.38,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
666,Mugur-Aksy,RU,39.74,broken clouds,50.3500,90.5000,
667,Muhos,FI,49.78,overcast clouds,64.8080,25.9931,Montta - active camping / campsite Montan
673,Andenes,NO,49.98,overcast clouds,69.3143,16.1194,Hotell Marena
675,Zima,RU,46.35,overcast clouds,53.9202,102.0442,"""Na Uglu"""

In [12]:
# 7. Drop rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mataura,NZ,46.06,light rain,-46.1927,168.8643,Ellie's Villa
7,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,Albatross Hotel
10,Tasiilaq,GL,39.36,broken clouds,65.6145,-37.6368,The Red House
26,Leningradskiy,RU,43.90,broken clouds,69.3833,178.4167,Gostinitsa
30,Busselton,AU,49.26,overcast clouds,-33.6500,115.3333,Observatory Guest House
35,Longyearbyen,SJ,35.44,few clouds,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
40,Bluff,NZ,47.50,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
50,Khatanga,RU,40.42,overcast clouds,71.9667,102.5000,"""Khatanga"""
57,Tinskoy,RU,49.75,overcast clouds,56.1525,96.9161,"Kemping ""Turist"""
72,Punta Arenas,CL,44.71,broken clouds,-53.1500,-70.9167,Hotel Hain
73,Hokitika,NZ,49.41,overcast clouds,-42.7167,170.9667,Beachfront Hotel Hokitika
81,Upernavik,GL,42.48,moderate rain,72.7868,-56.1549,Café de Upernavik
96,Qaanaaq,GL,33.24,clear sky,77.4840,-69.3632,Qaanaaq Hotel
102,Berlevag,NO,49.95,overcast clouds,70.8578,29.0864,Kvitbrakka
105,New Norfolk,AU,49.91,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))